::selection {
	background: transparent;
}

.card {
	color: #013243;
	position: absolute;
	top: 50%;
	left: 35%;
	width: 0px;
	height: 0px;
	background: #e0e1dc;
	transform-style: preserve-3d;
	transform: translate(-50%,-50%) perspective(2000px);
	box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 20px 0 60px rgba(0,0,0,.5);
	transition: 1s;
}

.card .imgBox {
	width: 100%;
	height: 100%;
	position: relative;
	transform-origin: left;
	transition: .7s;
}

.card .bark {
	position: absolute;
	background: #e0e1dc;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .7s;
}

.card .imgBox img {
	min-width: 60px;
	min-height: 100%;
}

.card:hover .bark {
	opacity: 1;
	transition: .6s;
  	box-shadow: 300px 200px 100px rgba(0, 0, 0, .4) inset;
}

.card .details {
    overflow: auto;
    overflow-x: hidden;
	position: absolute;
	top: 0;
	left: 0;
    width: 60px;
    height: 50px;
    background: #e0e1dc;
	box-sizing: border-box;
    border: 1px solid gray;
	padding: 5px;
	z-index: -1;
	margin-top: 0px;
}
.card .details::-webkit-scrollbar {
    display: none;
}

.card .details p {
	font-size: .3rem;
	padding: 0;
    word-wrap: break-word;
	line-height: 1;
    text-align: center;
	font-family: "Cedarville Cursive", cursive;
}

.card .details p.saudacao {
	font-size: 3px;
	font-weight: bold;
	margin-bottom: 0.3rem;
}

.card .details p.despedida {
	margin-top: 0.3rem;
	font-size: 3px;
	font-weight: bold;
}

.card.subirCard {
  animation: subirCard 1s ease-in-out forwards;
}

.imgBox.openCard, .text-right.subirCard, .details.subirCard, p.subirCard, h4.subirCard {
  animation: openCard 1s ease-in-out forwards;
}

.imgBox.openCard2 {
	animation: openCard2 1s ease-in-out forwards;
}

@keyframes subirCard {
    0%  { transform: translateY(var(--pos-inicial)) translateX(-30px) scale(0); }
    50% { transform: translateY(-100px) translateX(0px) scale(0.5) translateZ(50px); }
    100% { transform: translateY(-120px) translateX(-40px) scaleX(2) scaleY(3.5) translateZ(300px); }
}

@keyframes openCard {
    0%  { transform: translateY(0px) translateX(0px) scaleX(1) scaleY(1) translateZ(0px); }
    100% { transform: translateY(0px) translateX(0px) scaleX(1) scaleY(1) translateZ(0px) rotateY(-135deg); }
}

@keyframes openCard2 {
    0%  { transform: translateY(0px) translateX(0px) scaleX(1) scaleY(1) translateZ(0px); }
    100% { transform: translateY(0px) translateX(0px) scaleX(1) scaleY(1) translateZ(0px) rotateY(-135deg); }
}